{% extends "base.html" %}


{% block breadcrumbs %}
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'profile' %}">Profile</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
  </ol>
</nav>
{% endblock %}


{% block main %}
<div class="container my-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3 col-sm-8 offset-sm-2 col-xs-12 offset-xs-0">
      <h1>{{ title }}</h1>
      <p>Forgotten your password? Enter your email address below, and we'll
        email instructions for setting a new one.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 offset-lg-3 col-sm-8 offset-sm-2 col-xs-12 offset-xs-0">
      <form method="POST">
        {% csrf_token %}

        {% if form.errors %}
          <p>{% if form.errors.items|length == 1 %}Please correct the error
            below.{% else %}Please correct the errors below.{% endif %}</p>
        {% endif %}

        <p>Please enter your old password, for security's sake, and then enter
          your new password twice so we can verify you typed it in
          correctly.</p>

        <div class="form-floating mb-3">
          <input type="password" class="form-control {% if form.old_password.errors %}is-invalid{% endif %}" name="old_password" id="id_old_password" placeholder="New password" autocomplete="new-password" required autofocus />
          <label for="id_old_password" class="form-label">Old password</label>
          {{ form.old_password.errors }}
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control {% if form.new_password1.errors %}is-invalid{% endif %}" name="new_password1" id="id_new_password1" placeholder="New password" autocomplete="new-password" required />
          <label for="id_new_password1" class="form-label">New password</label>
          {% if form.new_password1.help_text %}
          <div class="border py-2 pb-0 rounded rounded-1 mt-1 small">{{ form.new_password1.help_text|safe }}</div>
          {% endif %}
          {{ form.new_password1.errors }}
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control {% if form.new_password2.errors %}is-invalid{% endif %}" name="new_password2" id="id_new_password2" placeholder="New password" autocomplete="new-password" required />
          <label for="id_new_password2" class="form-label">New password confirmation</label>
          {% if form.new_password2.help_text %}
          <div class="border py-2 pb-0 rounded rounded-1 mt-1 small">{{ form.new_password2.help_text|safe }}</div>
          {% endif %}
          {{ form.new_password2.errors }}
        </div>
        <button type="submit" class="btn btn-primary">
          Change my password
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
