{% extends "base.html" %}


{% block breadcrumbs %}
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
  </ol>
</nav>
{% endblock %}


{% block main %}
<div class="container my-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3 col-sm-8 offset-sm-2 col-xs-12 offset-xs-0">
      <h1>{{ title }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 offset-lg-3 col-sm-8 offset-sm-2 col-xs-12 offset-xs-0">
      <form method="POST">
        {% csrf_token %}
        <div class="form-floating mb-3">
          <input type="text" class="form-control {% if form.username.errors %}is-invalid{% endif %}" name="username" id="id_username" placeholder="Username" value="{{ form.username.value }}" />
          <label for="id_username" class="form-label">Username</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control {% if form.email.errors %}is-invalid{% endif %}" name="email" id="id_email" placeholder="Email" value="{{ form.email.value }}" />
          <label for="id_email" class="form-label">Email</label>
        </div>
        <div class="row">
          <div class="col">
            <button type="submit" class="btn btn-primary">
              Update profile
            </button>
            <a href="{% url 'password_change' %}" class="btn btn-secondary">
              Password change
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
