{% extends 'base.html' %}
{% load static %}


{% block extra_js %}
<script src="{% static 'properties.js' %}"></script>
{% endblock %}


{% block breadcrumbs %}
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
  </ol>
</nav>
{% endblock %}


{% block main %}
<div class="container">
  <div class="row mt-5 d-flex align-items-center">
    <div class="col">
      <h1>{{ title }}</h1>
      <p>All properties you've created.</p>
    </div>
    <div class="col">
      <form method="get" class="d-flex">
        <div class="form-floating me-2 flex-grow-1">
          <input type="text" class="form-control" name="q" id="id_search" placeholder="Search" {% if q %}value="{{ q }}"{% endif %} />
          <label for="id_search" class="form-label">Search</label>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>
  </div>
  <div class="row my-5">
    <div class="col" id="properties">
      <div class="card mb-3 bg-secondary text-white">
        <div class="row g-0">
          <div class="col-6 offset-md-1 col-md-2 d-flex align-items-center">
            <div class="card-body py-1">
              <div class="card-title h3 mb-0">{{ user.total_properties }}</div>
              <p class="card-text">Properties</p>
            </div>
          </div>
          <div class="col-6 offset-md-3 col-md-2 d-flex align-items-center">
            <div class="card-body py-1">
              <div class="card-title h3 mb-0">{{ user.total_checks }}</div>
              <p class="card-text">Total checks</p>
            </div>
          </div>
          <div class="col-6 col-md-2 d-flex align-items-center">
            <div class="card-body py-1">
              <div class="card-title h3 mb-0">{{ user.total_properties_down }}</div>
              <p class="card-text">Total properties down</p>
            </div>
          </div>
          <div class="col-6 col-md-2 d-flex align-items-center">
            <div class="card-body py-1">
              <div class="card-title h3 mb-0">{{ user.avg_response_time }}</div>
              <p class="card-text">Avg. response time</p>
            </div>
          </div>
        </div>
      </div>
      {% for property in properties.object_list %}
        <div class="card mb-3 bg-light">
          <div class="row g-0">
            <div class="col-sm-1">
              <div class="w-100 h-100 rounded-start {% if property.current_status == 200 %}bg-success{% else %}bg-danger{% endif %}"></div>
            </div>
            <div class="col-12 col-md-3">
              <div class="card-body">
                <h2 class="card-title h4">{{ property.name }}</h2>
                <a href="{% url 'property' property.id %}" class="btn btn-sm px-4 btn-primary">View</a>
                {% if not property.is_protected %}
                <button type="button" class="btn btn-sm px-4 btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete-modal-{{ property.id }}">
                  Delete
                </button>
                <div class="modal fade" id="delete-modal-{{ property.id }}" tabindex="-1" aria-labelledby="delete-modal-{{ property.id }}-label" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="delete-modal-{{ property.id }}-label">Confirm property delete</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        Are you sure you want to delete <strong>{{ property.url }}</strong>?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">I've changed my mind</button>
                        <a href="{% url 'property_delete' property.id %}" class="btn btn-danger">Confirm</a>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
            <div class="col-6 col-md-2 d-flex align-items-center">
              <div class="card-body">
                <div class="card-title h4">{% if property.current_status == 200 %}Ok{% else %}Failed{% endif %}</div>
                <div class="card-text text-truncate small">Current status</div>
              </div>
            </div>
            <div class="col-6 col-md-2 d-flex align-items-center">
              <div class="card-body">
                <div class="card-title h4">{% if not property.invalid_cert %}Ok{% else %}Unhealthy{% endif %}</div>
                <div class="card-text text-truncate small">Certificate</div>
              </div>
            </div>
            <div class="col-6 col-md-2 d-none d-md-flex d-flex align-items-center">
              <div class="card-body">
                <div class="card-title h4">{% if not property.has_security_issue %}Ok{% else %}Failed{% endif %}</div>
                <div class="card-text text-truncate small">Security</div>
              </div>
            </div>
            <div class="col-6 col-md-2 d-none d-md-flex d-flex align-items-center">
              <div class="card-body">
                <div class="card-title h4">{% if property.avg_response_time > 500 %}Unhealthy{% else %}Ok{% endif %}</div>
                <div class="card-text text-truncate small">Response time</div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  {% if properties.paginator.num_pages > 1 %}
  <div class="row">
    <div class="col">
      <nav aria-label="Pagination">
        <ul class="pagination">
          <li class="page-item {% if not properties.has_previous %}disabled{% endif %}">
            <a class="page-link" {% if properties.has_previous %}href="?page={{ properties.previous_page_number }}"{% endif %}>Previous</a>
          </li>

          {% for page_num in properties.paginator.page_range %}
            <li class="page-item {% if properties.number == page_num %}active{% endif %}">
              <a class="page-link" href="/properties/?page={{ page_num }}">{{ page_num }}</a>
            </li>
          {% endfor %}

          <li class="page-item {% if not properties.has_next %}disabled{% endif %}">
            <a class="page-link" {% if properties.has_next %}href="?page={{ properties.next_page_number }}"{% endif %}>Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  {% endif %}
  <div class="row my-5">
    <div class="col">
      <h2>Create a new property</h2>
      <p>Add any URL you want to check.</p>
      {{ form.errors }}
      <form method="POST" class="row">
        {% csrf_token %}
        <div class="col-12 col-md-6 mb-3">
          <div class="form-floating">
            <input type="text" name="url" id="id_url" class="form-control {% if form.url.errors %}is-invalid{% endif %}" placeholder="URL" required>
            <label for="id_url">URL</label>
          </div>
        </div>
        <div class="col-12 col-md-2 d-flex align-items-center mb-3">
          <button type="submit" class="btn btn-primary btn-lg h-100 px-5">Create</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row my-5">
    <div class="col">
      <h2>Bulk import properties</h2>
      <p>Add a CSV file with the first column being the URL.</p>
      <form method="POST" class="row" enctype="multipart/form-data" action="{% url 'import_properties' %}">
        {% csrf_token %}
        <div class="col-12 col-md-6 mb-3">
          <input type="file" name="csv_file" id="id_csv_file" class="form-control {% if form.file.errors %}is-invalid{% endif %}" required>
        </div>
        <div class="col-12 col-md-2 d-flex align-items-center mb-3">
          <button type="submit" class="btn btn-primary btn h-100 px-5">Import</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
