{% extends 'base.html' %}
{% load static %}


{% block extra_head %}
{% include "includes/social.html" %}
{% endblock %}


{% block extra_css %}
<link href="{% static 'pages.css' %}" rel="stylesheet">
{% endblock %}


{% block breadcrumb_wrapper %}{% endblock %}


{% block main %}
<div class="bg-dark mb-5 home-hero d-flex align-items-center" style="--background-image: url({% static 'images/home-hero.webp' %});">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 col-xl-8">
        <div class="fs-4 text-light">
          <span class="badge bg-warning text-black">Alpha</span> Things are rapidly changing!
        </div>
        <h1 class="display-1 mt-4 text-light fw-bolder">Self-hosted website status monitoring</h1>
        <p class="mb-0 text-white mt-4 fs-4">Made by <a href="https://isaacbythewood.com/" class="text-white">Isaac Bythewood</a>,
          a simple opinionated self-hosted website status monitoring solution.</p>
        <div class="mt-4">
          <a href="/accounts/login/" class="btn btn-light btn-lg me-3">
            Login
          </a>
          <a href="https://github.com/overshard/status" target="_blank" class="btn btn-outline-light btn-lg">
            Source code
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mb-2">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card bg-primary text-white text-center mb-3">
        <div class="card-body">
          <div class="display-5">{{ total_properties }}</div>
          <div class="h5">Total properties</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card bg-primary text-white text-center mb-3">
        <div class="card-body">
          <div class="display-5">{{ total_statuses }}</div>
          <div class="h5">Total events</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card bg-primary text-white text-center mb-3">
        <div class="card-body">
          <div class="display-5">{{ first_status_created_at|date:"M j, Y" }}</div>
          <div class="h5">First event logged</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4 mb-4">
      <div class="card bg-light h-100">
        <div class="card-body">
          <h2 class="card-title h5">Open source</h2>
          <p class="card-text">The source code is available on GitHub and is
            published under the simplified BSD license, do what you want with
            it.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-4">
      <div class="card bg-light h-100">
        <div class="card-body">
          <h2 class="card-title h5">Privacy friendly</h2>
          <p class="card-text">The status data is stored on whatever
            hosting service you put it on. You can store as much, or as
            little, data as you want.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-4">
      <div class="card bg-light h-100">
        <div class="card-body">
          <h2 class="card-title h5">First class mobile support</h2>
          <p class="card-text">A responsive design that should work across all
            platforms.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
