{% load static %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ title }}{% endblock %} · Status</title>
  <meta name="description" content="{% block description %}{{ description }}{% endblock %}">
  <link rel="canonical" href="{{ canonical }}">

  {% if BASE_URL %}
  <base href="{{ BASE_URL }}">
  {% endif %}

  {% block extra_head %}{% endblock %}

  <link href="{% static 'base.css' %}" rel="stylesheet">
  {% block extra_css %}{% endblock %}
</head>

<body>
  {% include 'includes/messages.html' %}

  {% block nav %}
  <nav class="navbar bg-teal-900 d-print-none">
    <div class="container">
      <a class="navbar-brand text-white" href="/">
        <span class="display-1 fs-4 text-white text-decoration-none text-uppercase my-0">Status</span>
      </a>
      {% if user.is_authenticated %}
      <a href="/accounts/logout/" class="btn btn-sm btn-outline-light">
        Logout
      </a>
      {% else %}
      <a href="/accounts/login/" class="btn btn-sm btn-outline-light">
        Login
      </a>
      {% endif %}
    </div>
  </nav>
  {% endblock %}

  {% block breadcrumb_wrapper %}
  <div class="bg-teal-800 py-2 d-print-none">
    <div class="container">
      {% block breadcrumbs %}{% endblock %}
    </div>
  </div>
  {% endblock %}

  <main>
    {% block main %}{% endblock %}
  </main>

  {% block footer %}
  <footer class="mt-4 bg-black text-light d-print-none">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-4 mb-5 mb-lg-0">
          <div class="h5 font-monospace mb-3">Status</div>
          <p>Made by <a href="https://isaacbythewood.com/" class="text-light">Isaac Bythewood</a>, a simple opinionated self-hosted website status monitoring solution.</p>
        </div>
        <div class="col-12 col-md-4 col-lg-2 offset-lg-2 d-none d-md-block">
          <div class="h5 font-monospace mb-3">Projects</div>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="https://github.com/overshard/analytics" class="link-footer">Analytics</a></li>
            <li class="mb-2"><a href="https://github.com/overshard/timelite" class="link-footer">Timelite</a></li>
            <li class="mb-2"><a href="https://github.com/overshard/ai-art" class="link-footer">AI-Art</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <div class="h5 font-monospace mb-3">Pages</div>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="/" class="link-footer">Home</a></li>
            <li class="mb-2"><a href="/changelog/" class="link-footer">Changelog</a></li>
            <li class="mb-2"><a href="/contact/" class="link-footer">Contact</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <div class="h5 font-monospace mb-3">Accounts</div>
          <ul class="list-unstyled">
            {% if user.is_authenticated %}
            <li class="mb-2"><a href="/properties/" class="link-footer">Properties</a></li>
            <li class="mb-2"><a href="/accounts/profile/" class="link-footer">Profile</a></li>
            <li class="mb-2"><a href="/accounts/logout/" class="link-footer">Logout</a></li>
            {% else %}
            <li class="mb-2"><a href="/accounts/login/" class="link-footer">Login</a></li>
            <li class="mb-2"><a href="/accounts/password-reset/" class="link-footer">Password reset</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <div class="bg-dark py-3 d-print-none">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 d-flex align-items-center justify-content-center justify-content-sm-start mt-3 mt-sm-0 order-1 order-sm-0">
          <small class="text-light">
            &copy; {% now 'Y' %} Isaac Bythewood. Some rights reserved.
          </small>
        </div>
        <div class="col-sm-6 d-flex justify-content-center justify-content-sm-end">
          <a href="https://github.com/overshard/status" target="_blank" class="text-light fs-3 d-flex align-items-center" aria-label="GitHub">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
              <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
            </svg>
          </a>
          <a href="https://isaacbythewood.com/" target="_blank" class="logo shadow ms-4" aria-label="Isaac Bythewood"></a>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

  <div id="cookie-warning" class="alert alert-warning bg-yellow-100 border-warning alert-dismissible fade position-fixed bottom-0 start-0 m-3 p-2 d-flex flex-column flex-md-row align-items-md-center d-print-none" style="z-index: 1100;" role="alert">
    <span>I use my own analytics system that I coded at <a href="https://analytics.bythewood.me/" target="_blank" class="text-dark">analytics.bythewood.me</a> to track the usage of this site with cookies. No data is sent to any third parties.</span>
    <button type="button" class="btn btn-sm btn-success ms-md-2 mt-2 mt-md-0" data-bs-dismiss="alert" aria-label="Okay">Understood</button>
  </div>

  <script src="{% static 'base.js' %}"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>
